.banner {
    background: var(--azul-degrade);
    color: var(--cor-branco);
    text-align: center;
    padding: 2em;
}
.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}
.banner__texto{ 
    font-weight: 500;
    padding: 1.2em;
    line-height: 1.3em;
}

.banner__pesquisa{
    background: transparent;
    border: 1px solid var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 10em;
    margin: 0.5em 0 0 0;
    padding: 1em ;
    width: 100%;
}
.banner__pesquisa::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    color: var(--cor-branco);
    background: url(../img/Pesquisa.svg);
    background-repeat: no-repeat;
    background-position: 1.5em;
    padding-left: 2em;
}
@media screen and (min-width: 1024px) {
    .banner__titulo{
        font-size: 36px ;
    }
    .banner__pesquisa{
        width: 50%;
        border-radius:20em;
    }
    .banner__pesquisa::placeholder{
        background-position: 6em;
    }
}